In [4]:
print('Amr El-Shemy Instructor')

Amr El-Shemy Instructor

In [15]:
list = ['amr 1','ahmed 2','mohamed 3']
print(list)

list[0] = list[0].replace(' ','_')
list[1] = list[1].replace(' ','_')
list[2] = list[2].replace(' ','_')

['amr 1', 'ahmed 2', 'mohamed 3']

In [16]:
final_list = []
final_list.extend(list)
print(final_list)

['amr_1', 'ahmed_2', 'mohamed_3']

In [27]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for num in list:
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7

In [42]:
#1. Get the Largest Number from a List
#2. Remove Duplicates from a List
#3. Check if Two Lists Have at Least One Common Member

In [43]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

largest_num = list[0]
for num in list:
    if num > largest_num:
        largest_num = num

print(largest_num)

9

In [46]:
list = [1, 2, 3, 3, 5, 5, 7, 8, 9]
new_list = []
for num in list:
    if num not in new_list:
        new_list.append(num)

print(new_list)

[1, 2, 3, 5, 7, 8, 9]

In [47]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

for i in list1:
    if i in list2:
      print('the common is: ', i)
      break
else:
    print("no common")

the common is:  5

In [48]:
def mult(x,y):
    return x*y

In [49]:
print(mult(2,3))

6

In [52]:
#task 1
def func(num_list):
    num_list.sort()
    result = []
    for i in range(len(num_list) - 1):
        sum = num_list[i] + num_list[i + 1]
        result.append(sum)
    return result

numbers = [1, 2, 3, 4, 5, 6]
sum= func(numbers)
print(sum)

[3, 5, 7, 9, 11]

In [54]:
#---------------------------------------------

In [56]:
s = 'hello world'
print(s[::-1])

dlrow olleh

In [60]:
#Remove duplicate lists from a list of lists.
#Given:
#lists_of_lists = [['a', 'b', 'c'], ['d', 'e', 'f'], ['a', 'b', 'c']]

In [61]:
list = [['a', 'b', 'c'], ['d', 'e', 'f'], ['a', 'b', 'c']]
result = []

for lst in list:
    if lst not in result:
        result.append(lst)

In [62]:
result

[['a', 'b', 'c'], ['d', 'e', 'f']]

In [63]:
#task 3

In [64]:
list = [1, 2, 3]

list.append(4)
print("append 4:", list)

list.append([5, 6])
print("append [5, 6]:", list)

list.extend([7, 8])
print("append [7, 8]:", list)

list.extend([9, 10])
print("append [9, 10]:", list)

append 4: [1, 2, 3, 4]
append [5, 6]: [1, 2, 3, 4, [5, 6]]
append [7, 8]: [1, 2, 3, 4, [5, 6], 7, 8]
append [9, 10]: [1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [85]:
#task4

In [86]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_set = {1, 2, 3, 4, 5}
my_dict = {'name': 'John', 'age': 28, 'city': 'New York'}

my_list.append(6)
my_set.add(6)
print("add 6 to list:", my_list)
print("add 6 to set:", my_set)

my_list.remove(2)
my_set.discard(2)
print("remove 2:", my_list)
print("remove 2:", my_set)

sec_element = my_tuple[1]
print('second elements is: ',sec_element)

age = my_dict['age']
print('the age value is: ',age)

foundL = 3 in my_list
foundS = 3 in my_set
print(foundL)
print(foundS)

set_to_list = [*my_set]
newList = my_list + set_to_list
print(newList)

my_dict['country'] = 'USA'
print("New Dic:", my_dict)


print(len(my_list))


print(sum(my_list))

add 6 to list: [1, 2, 3, 4, 5, 6]
add 6 to set: {1, 2, 3, 4, 5, 6}
remove 2: [1, 3, 4, 5, 6]
remove 2: {1, 3, 4, 5, 6}
second elements is:  2
the age value is:  28
True
True
[1, 3, 4, 5, 6, 1, 3, 4, 5, 6]
New Dic: {'name': 'John', 'age': 28, 'city': 'New York', 'country': 'USA'}
5
19

In [89]:
n = int(input("your number: "))

if n > 0:
    print('positive')
elif num < 0:
    print('negative')
else:
    print('zero')

your number: 0
zero